body::-webkit-scrollbar {
  width: .5em;
}

body::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

body::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}

.modular-hero {
  #to-start {
    z-index: 2;
    bottom: 3.5rem;
  }
}

.modular-features {
  text-align: center;
  position: relative;
  z-index: 2;
  //custom when grid-xl grid selected in theme
  margin: 0 2rem;

  &.offset-box {
    .frame-box {
      margin: 3rem (-1rem - $layout-spacing) 3rem;
      padding: 1rem 1rem;
      background: $light-color;
      box-shadow: 0 0 75px 0 rgba($dark-color, 0.1);
    }
  }

  &.small {

    .columns {
      margin-top: -1rem;
    }

    .column:hover {
      .feature-icon i {
        color: $primary-color;
      }
    }

    .feature-icon {
      display: block;
      justify-content: left;


      i {
        position: relative;
        display: inherit;
        font-size: 70px;
        margin: 0 auto 1rem;
        transform: none;
        left: auto;
        top: auto;
        color: $gray-color;
        @extend .default-animation;

      }
      h6 {
        text-transform: none;
      }
    }
  }

  .frame-box {
    padding: 3rem 0;

    > p {
      max-width: 600px;
      margin-left: auto;
      margin-right: auto;
    }
  }

  .column {
    padding: 1rem;

    &:hover {
      .feature-icon {
        color: $gray-color;
        h6 {
          color: $primary-color;
        }
      }
      .feature-content {
        color: $gray-color-dark;
      }
    }
  }

  .feature-icon {
    font-size: 130px;
    height: 100px;
    color: $gray-color-light;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin: 1rem 0;
    @extend .default-animation;

    i {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translateX(-50%) translateY(-50%);
    }

    h6 {
      background: $light-color;
      line-height: 1;
      z-index: 1;
      text-transform: uppercase;
      font-weight: 600;
      margin: 0;
      display: block;
      color: $gray-color-dark;
      font-size: 1rem;
    }
  }

  .feature-content {
    color: $gray-color;
  }
}

.section {
  &.modular-text {
    padding-top: 4rem;
    padding-bottom: 4rem;
    padding-left: 2rem;
    padding-right: 2rem;

    img {
      padding: 3px;
      border: $border-width solid $gray-color-light;
      background-color: $light-color;
      border-radius: 4px;
      &:hover {
        opacity: .8;
        transition: all .2s linear;
      }
    }
  
    .columns.left {
      flex-direction: row-reverse;
    }
  }

  &.modular-bottom {
    padding-top: $unit-10;
    padding-bottom: $unit-5;

    h4 {
      margin-top: 0;
      color: $light-color;
      @include breakpoint(xs) {
        text-align: center;
      }
    }
    ul {
      white-space: nowrap;
      margin: 0;
      list-style: none;
      display: flex;
      justify-content: flex-end;
      flex-wrap: wrap;
      @include breakpoint(xs) {
        justify-content: center;
      }
      li {
        position: relative;
        padding-right: $unit-4;
        font-size: $unit-4;
        line-height: 1.3rem;
        &:last-child {
          padding-right: 0;
        }
        a {
          color: #acb3c2;
          &:hover, &:focus, &.active {
            color: $light-color;
          }
        }
      }
    }

    .footer-stuff {
      h2 {
        margin: 0;
        color: #acb3c2;
        font-weight: 100;
        text-transform: uppercase;
      }
      blockquote {
        display: inline-block;
        border: none;
        position: relative;
        font-style: italic;
        &:before {
          content: "\f10d";
          font-family: FontAwesome;
          font-size: 3rem;
          position: absolute;
          left: -1rem;
          bottom: -1rem;
          opacity: .2;
          transform: scale(1.5) rotate(15deg);
        }
      }
      hr {
        border-color: lighten($dark-color, 12%);
        margin-block-start: .8rem;
        margin-block-end: .8rem;
      }
      ul {
        display: flex;
        justify-content: center;
        li {
          border-right: $border-width solid lighten($dark-color, 12%);
          margin-right: $unit-4;
          margin-top: 0;
          &:last-child {
            margin-right: 0;
            border-right: none;
          }
        }
      }
    }

    .logo-img{
      @include breakpoint(xs) {
        display: flex;
        justify-content: center;
      }
      img, svg {
        height: 70px;
        opacity: .4;
      }
      svg {
        width: 250px;
      }
    }
  }
}